<%- include('partials/navbar') %>
<div class="container">
    <h1>Welcome!</h1>
    <p>Do stuff below...</p>
    <div class="home" id="root">
        <div id="display"></div>
        <div id="allClientsModal"></div>        
        <div id="matches"></div>
        <div id="clientIndividualMatch"></div>      
        <div id='roleModal'></div>
    </div>
</div>
<script src="./js/home.js"></script>
<script src="./js/settings.js"></script>
