<!--http://net.ipcalf.com/ , essentially copied and pasted this site -->
Your network IP is: <h1 id=list>-</h1> Whoever is the "server" should share this IP address to the clients.
<script src="./js/ip.js"></script>