<div class="container">
    <h1>Welcome to setup page!</h1>
    <p>You need to enter your api key before we continue...and it needs to be valid...</p>
    <p>The password is the password that you will use incase you need to change the api key. <b>This password is stored non securely.</b></p>
    <form method="post" id="setupForm" >
        <input type="text" name="apikey" placeholder="API Key" required value=""/>
        <input type="text" name="password" placeholder="Password" required value=""/>        
        <button type="submit">Submit</button>
    </form>
</div>
<script src="./js/setup.js"></script>
