<nav class="brackette-navbar navbar pmd-navbar">
    <div class="container-fluid">
        <div class="dropdown pmd-dropdown pmd-user-info pull-right">
            <a data-target="#settings-dialog" href="#" onClick="return false;" class="btn-user dropdown-toggle media" data-toggle="modal" aria-expanded="false" id="settings-button">
                <div class="media-right media-middle">
                    <i class="material-icons md-dark pmd-sm">settings</i>
                </div>
            </a>
            <div tabindex="-1" class="modal fade" id="settings-dialog" style="display: none;" aria-hidden="true"></div>
        </div>
    </div>
    <div class="pmd-sidebar-overlay"></div>
</nav>
