<div tabindex="-1" class="modal fade" id="clients-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header pmd-modal-bordered">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h2 class="pmd-card-title-text">Available Clients</h2>
			</div>
			<div class="modal-body">
				<p>List of available clients.</p>
				<div id="available-clients"></div>
			</div>
		</div>
	</div>
</div>
